.app {
  padding: 9px 18px;
  width: 800px;
  margin: 10px auto;
}

.col {
  height: 200px;
  width: 257px;
  float: left;  
  margin-bottom: 9px;
}

textarea {
  resize: none;
  height: 150px;
  width: 95%;
  background-color: #ffffff12; 
  color: white;
  border: 1px solid #282c34;
  outline: 0;
  border-radius: 0;
  padding: 2px 4px;
}

textarea:focus {
  border: 1px solid #61dafb65;
}
